
.navbar-nav .nav-item:hover {
    background-color: #1d97a9; /* Set your desired background color on hover */
  }

  .navbar-nav .nav-link:hover {
    color: #838278; /* Set your desired text color on hover */
  }
  
  /* Custom styles for carousel controls */
  .carousel-control-prev,
  .carousel-control-next {
      background-color: rgb(240, 211, 212); /* Replace 'your-color' with the desired color code */
  }

  /* Custom styles for the carousel control icons (optional) */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
      filter: invert(1); /* Invert the color of the default icons (optional) */
  }
  
  .social-icon {
    font-size: 1.5rem; /* Adjust the size of the icons as needed */
    margin-right: 1px; /* Adjust spacing between icons if necessary */
}

.social-icon-github {
    color: #f10505; /* GitHub icon color */
}

.social-icon-linkedin {
    color: #fb0808; /* LinkedIn icon color */
}

.social-icon-facebook {
    color: #3b5998; /* Facebook icon color */
}

.social-icon-telegram {
    color: #0088cc; /* Telegram icon color */
}




